body {
    font-family: 'Inter', Arial, sans-serif;
    background-color: #f3f4f6;
    color: #1f2937;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1250px;
    margin: auto;
    padding: 40px 24px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    text-align: center;
}

.subtitle {
    text-align: center;
    color: #6b7280;
    margin-bottom: 60px;
    font-size: 1.1rem;
}

section {
    background: white;
    border-radius: 18px;
    padding: 30px;
    margin-bottom: 50px;
    box-shadow:
        0 4px 20px rgba(0,0,0,0.06);
}

h2 {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 1.7rem;
}

iframe {
    width: 100%;
    border: none;
    border-radius: 12px;
}

img {
    width: 100%;
    border-radius: 12px;
}

.flourish-embed {
    width: 100%;
    min-height: 750px;
}

img {
  border-radius: 10px;
}
